<section id="tecnologias" pb-5 class="color-gradiente">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="my-sm-5 text-white">Hard y Soft skills</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-6 text-center">
                <div class="px-4 py-5 mx-0 mb-4 mb-sm-0 circleBox">
                    <h3 class="title">Javascript</h3>
                    <circle-progress [title]="'Javascript'" [showTitle]="true" [titleColor]="'#282828'" [percent]="90"
                        [radius]="80" [outerStrokeWidth]="11" [innerStrokeWidth]="3" [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="900"
                        [imageSrc]="'https://img.stackshare.io/service/1209/javascript.jpeg'" [imageWidth]="70"
                        [imageHeight]="70" [showImage]="true" [percent]="60" [unitsColor]="'#E20000'" [units]="'%'" [showUnits]="true"[backgroundColor]="'white'">
                    </circle-progress>
                </div>
            </div>
            <div class="col-sm-2 col-6 text-center">
                <div class="px-4 py-5  mx-0 mb-4 mb-sm-0 circleBox">
                    <h3 class="title">PHP</h3>
                    <circle-progress [title]="'PHP'" [showTitle]="true" [titleColor]="'#282828'" [percent]="90"
                        [radius]="80" [outerStrokeWidth]="11" [innerStrokeWidth]="3" [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="900"
                        [imageSrc]="'https://img.stackshare.io/service/991/hwUcGZ41_400x400.jpg'" [imageWidth]="70"
                        [imageHeight]="70" [showImage]="true" [showUnits]="false" [backgroundColor]="'white'"
                        [percent]="60" [unitsColor]="'#E20000'" [units]="'%'">
                    </circle-progress>
                </div>
            </div>
            <div class="col-sm-2 col-6 text-center">
                <div class="px-4 py-5 mx-0 mb-4 mb-sm-0 circleBox">
                    <h3 class="title">HTML5</h3>
                    <circle-progress [title]="'HTML5'" [showTitle]="true" [titleColor]="'#282828'" [percent]="90"
                        [radius]="80" [outerStrokeWidth]="11" [innerStrokeWidth]="3" [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="900"
                        [imageSrc]="'https://img.stackshare.io/service/2538/kEpgHiC9.png'" [imageWidth]="70"
                        [imageHeight]="70" [showImage]="true" [showUnits]="false" [backgroundColor]="'white'"
                        [percent]="90" [unitsColor]="'#E20000'" [units]="'%'">
                    </circle-progress>
                </div>
            </div>
            <div class="col-sm-2 col-6 text-center">
                <div class="px-4 py-5 mx-0 mb-4 mb-sm-0 circleBox">
                    <h3 class="title">CSS</h3>
                    <circle-progress [title]="'CSS'" [showTitle]="true" [titleColor]="'#282828'" [percent]="90"
                        [radius]="80" [outerStrokeWidth]="11" [innerStrokeWidth]="3" [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="900"
                        [imageSrc]="'https://img.stackshare.io/service/6727/css.png'" [imageWidth]="70"
                        [imageHeight]="70" [showImage]="true" [showUnits]="false" [backgroundColor]="'white'"
                        [percent]="75" [unitsColor]="'#E20000'" [units]="'%'">
                    </circle-progress>
                </div>
            </div>
            <div class="col-sm-2 col-6 text-center">
                <div class="px-4 py-5 mx-0 mb-4 mb-sm-0 circleBox">
                    <h3 class="title">Bootstrap</h3>
                    <circle-progress [title]="'Bootstrap'" [showTitle]="true" [titleColor]="'#282828'" [percent]="90"
                        [radius]="80" [outerStrokeWidth]="11" [innerStrokeWidth]="3" [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="900"
                        [imageSrc]="'https://img.stackshare.io/service/1101/C9QJ7V3X.png'" [imageWidth]="70"
                        [imageHeight]="70" [showImage]="true" [showUnits]="false" [backgroundColor]="'white'"
                        [percent]="75" [unitsColor]="'#E20000'" [units]="'%'">
                    </circle-progress>
                </div>
            </div>
            <div class="col-sm-2 col-6 text-center">
                <div class="px-4 py-5 mx-0 mb-4 mb-sm-0 circleBox">
                    <h3 class="title">Git</h3>
                    <circle-progress [title]="'Git'" [showTitle]="true" [titleColor]="'#282828'" [percent]="90"
                        [radius]="80" [outerStrokeWidth]="11" [innerStrokeWidth]="3" [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="900"
                        [imageSrc]="'https://img.stackshare.io/service/1046/git.png'" [imageWidth]="70"
                        [imageHeight]="70" [showImage]="true" [showUnits]="false" [backgroundColor]="'white'">
                    </circle-progress>
                </div>
            </div>
        </div>
        <div class="row mt-sm-4 mt-0 justify-content-center">
            <div class="col-sm-2 col-6">
                <div class="px-4 mx-0 mb-4 mb-sm-0 circleBox">
                    <h3 class="title">Java</h3>
                    <circle-progress [title]="'Java'" [showTitle]="true" [titleColor]="'#282828'" [percent]="90"
                        [radius]="80" [outerStrokeWidth]="11" [innerStrokeWidth]="3" [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="900"
                        [imageSrc]="'../../../assets/images/java-logo.png'" [imageWidth]="80"
                        [imageHeight]="70" [showImage]="true" [showUnits]="false" [backgroundColor]="'white'"
                        [percent]="87" [unitsColor]="'#E20000'" [units]="'%'">
                    </circle-progress>
                </div>
            </div>
            <div class="col-sm-2 col-6 text-center">
                <div class="px-4 mx-0 mb-4 mb-sm-0 circleBox">
                    <h3 class="title">MySQL</h3>
                    <circle-progress [title]="'MySQL'" [showTitle]="true" [titleColor]="'#282828'" [percent]="90"
                        [radius]="80" [outerStrokeWidth]="11" [innerStrokeWidth]="3" [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="900"
                        [imageSrc]="'https://img.stackshare.io/service/1615/mariadb-logo-400x400.png'" [imageWidth]="80"
                        [imageHeight]="70" [showImage]="true" [showUnits]="false" [backgroundColor]="'white'"
                        [percent]="69" [unitsColor]="'#E20000'" [units]="'%'">
                    </circle-progress>
                </div>
            </div>
            <div class="col-sm-2 col-6 text-center">
                <div class="px-4 mx-0 mb-4 mb-sm-0 circleBox">
                    <h3 class="title">Spring</h3>
                    <circle-progress [title]="'Spring'" [showTitle]="true" [titleColor]="'#282828'" [percent]="90"
                        [radius]="80" [outerStrokeWidth]="11" [innerStrokeWidth]="3" [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="900"
                        [imageSrc]="'../../../assets/images/spring-logo.png'" [imageWidth]="80"
                        [imageHeight]="70" [showImage]="true" [showUnits]="false" [backgroundColor]="'white'"
                        [percent]="69" [unitsColor]="'#E20000'" [units]="'%'">
                    </circle-progress>
                </div>
            </div>
            <div class="col-sm-2 col-6 text-center">
                <div class="px-4 mx-0 mb-4 mb-sm-0 circleBox">
                    <h3 class="title">Apache</h3>
                    <circle-progress [title]="'Apache'" [showTitle]="true" [titleColor]="'#282828'" [percent]="90"
                    [radius]="80" [outerStrokeWidth]="11" [innerStrokeWidth]="3" [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="900"
                    [imageSrc]="'https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Apache_Software_Foundation_Logo_%282016%29.svg/1200px-Apache_Software_Foundation_Logo_%282016%29.svg.png'" [imageWidth]="80"
                    [imageHeight]="70" [showImage]="true" [showUnits]="false" [backgroundColor]="'white'"
                    [percent]="85" [unitsColor]="'#E20000'" [units]="'%'">
                </circle-progress>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="idiomas">
    <div class="container">
        <div class="row py-5 mx-0">
            <div class="col-sm-6 col-12 pb-3 pb-sm-0">
                <div class="row mr-sm-1 bg-white card-idiomas shadow me-sm-1">
                    <div class="col-4 text-center card">
                        <i class="fas fa-comment-alt"></i>
                    </div>
                    <div class="col-8">
                        <h2>IDIOMAS</h2>
                        <ul>
                            <li>ESPAÑOL - Nativo</li>
                            <li>INGLÉS - Intermediate B2</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <div class="row ml-sm-2 bg-white card-idioma shadow ms-sm-1">
                    <div class="col-4 text-center card">
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="col-8 p-5">
                        <h2>HOBBIES</h2>
                        <ul>
                            <li>Tenis</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>