.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.shadow {
    box-shadow: 0 .5rem 1remrgba(0,0,0,.15)!important;
}

form{
    width:41%;
}

.btn{
    margin-bottom:15px;
}