.socialNetworks {
  margin-top: 41px;
  margin-right: 50px;
}
/* .socialNetworks  li {
    list-style: none;
    color: white;
    font-size: 23px;
    display: inline-block;
    /* margin: 41px, 24px, 0, 24px;  */
/* margin-left: 24px;
} */

.socialNetworks i {
  color: white;
  font-size: 35px;
  margin-right: 39px;
}

.socialNetworks i:hover {
    color: blue;
}

img {
  width: 55px;
  position: relative;
  bottom: 9px;
}

img:hover{
    width: 56px;
}

.btn:hover {
  color: white;
  background-color: blue;
}

.box {
  margin-right: 25px;
}

#hipervinculoLogin{
  color: white;
  text-decoration: none;
}

@media (max-width: 750px) {
  /* Para mobile */

  .socialNetworks .redes{
      display: none;
  }

  
}


