<!-- MIO -->
<section id="formacion" class="container">
    <div class="row">
        <div class="col-12 pt-5 pb-4">
            <h2><i class="fas fa-graduation-cap"></i> Formación acádémica</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 pb-3">
            <button type="button" class="btn-agregar-edu btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
                Agregar Educación
            </button>
        </div>
        <div class="row shadow bg-white rounded p-1 box">
            <div class="col-12 col-sm-6">
                <div class="row">
                    <div class="col-2 py-3 my-auto d-none d-sm-block">
                        <a href="https://www.ungs.edu.ar/" target="_blank"><img
                                src="../../../assets/images/ungs-logo.jpeg" class="img-fluid baw" title="ungs-logo"></a>
                    </div>
                    <div class="col-12- col-sm-10 p-3">
                        <h3>Licenciatura en Sistemas de Información</h3>
                        <h4>Universidad General Sarmiento</h4>
                        <h5>En curso</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="row">
                    <div class="col-2 py-3 my-auto d-none d-sm-block">
                        <img src="../../../assets/images/ap-logo.png" class="img-fluid baw" title="ap-logo"
                            id="ap-logo">
                    </div>
                    <div class="col-12- col-sm-10 p-3">
                        <h3>Argentina Programa</h3>
                        <h4>Ministerio de Desarrollo Productivo</h4>
                        <h5>2022</h5>
                        <p>Plan nacional de formación en programación.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="row">
                    <div class="col-12- col-sm-10 p-3" *ngFor="let Educacion of educacion">
                        <h3>{{Educacion.nombreE}}</h3>
                        <p>{{Educacion.descripcionE}}</p>
                        <div *ngIf="isLogged">
                            <button class="btn-edit btn-light" routerLink="/editedu/{{Educacion.id}}">
                                <i class="bi bi-pencil-fill"></i> EDITAR</button>
                            <button class="btn-delete btn-danger" (click)="delete(Educacion.id)">
                                <i class="bi bi-trash-fill"></i> BORRAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

