<main class="container-fluid justify-content-center" id="proyectos">
    <div class="row">
        <div class="col-12 mt-5 mb-4 box">
            <h1>Proyectos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="span">Los siguientes son algunos de los trabajos que he realizado:</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-4 col-12 p-sm-4 px-4 py-2">
            <div class="row card box-card">
                <div class="col-12 p-0">
                    <img src="../../../assets/images/abmclientes.png" alt="abmClientes" class="img-fluid">
                </div>
                <div class="col-12 color-gradiente py-3">
                    <h2>ABM CLIENTES</h2>
                </div>
                <div class="col-12 py-3">
                    <p>Alta, baja y modificación de un registro de clientes. Realizado en HTML, CSS, PHP, Bootstrap y
                        Json.</p>
                </div>
                <div class="row py-5">
                    <div class="col-6">
                        <a href="" class="btn btn-rojo" target="_blank">Ver online</a>
                    </div>
                    <div class="col-6 link-rojo text-center">
                        <a href="">Código fuente</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-12 p-sm-4 px-4 py-2">
            <div class="row card">
                <div class="col-12 p-0">
                    <img src="../../../assets/images/abmventas.png" alt="abmVentas" class="img-fluid">
                </div>
                <div class="col-12 color-gradiente py-3">
                    <h2>SISTEMA DE GESTIÓN DE VENTAS</h2>
                </div>
                <div class="col-12 py-3">
                    <p>Sistema de gestión de clientes, productos y ventas. Realizado en HTML, CSS, PHP, MVC, Bootstrap,
                        Js, Ajax, jQuery y MySQL de base de datos.</p>
                </div>
                <div class="row py-5">
                    <div class="col-6">
                        <a href="" class="btn btn-rojo" target="_blank">Ver online</a>
                    </div>
                    <div class="col-6 link-rojo text-center">
                        <a href="">Código fuente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>