<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 col-12 mt-4">
            <h1 class="mt-sm-4">Sobre mí</h1>
            <span>Matias Ezequiel Jara - Jr Fullstack Developer</span>
            <p class="pb-sm-5 mt-3">Apasionado por la tecnología y resolución de problemas. Soy estudiante de
                programación Full Stack y de Base de datos.</p>
        </div>
        <div class="col-sm-3 col-12 mt-4 offset-sm-2">
            <img src="../../../../assets/images/foto.jpg" alt="Matias Ezequiel Jara" title="Matias Ezequiuel Jara"
                class="img-fluid img-circle">
        </div>
    </div>
</div>
